<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" (click)="dismiss()" class="buttons-menu" *ngIf="!loading">
      <ion-icon class="icon-menu" name="close-outline"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end"  *ngIf="loading">
      <ion-spinner></ion-spinner>
    </ion-buttons>
    <ion-title>Room</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      spellcheck="off"
      (ionChange)="onSearch()"
      [(ngModel)]="search"
      showCancelButton="focus"
      placeholder="Trouver une Room"
      animated
      debounce="500"
      inputmode="search"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let ro of searchRooms">
      <ion-item (click)="onRoomClick(ro.room)">
        <i>{{ ro.room }}</i> {{ ro.creator.username }}
      </ion-item>
    </div>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark" (click)="openRoomDialog()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
