.icon-menu {
  transform: scale(1.5);
}

.buttons-menu {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.4s;
}

ion-input {
  position: relative;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(56, 56, 56, 0.89);
  width: calc(50% - 10px);
  border-radius: 3px;
}

.buttons-menu:active {
  border-radius: 50%;
  background: rgba(75, 75, 75, 0.74);
}

i {
  font-style: normal;
  display: inline-block;
  background: #403e3e;
  margin-right: 10px;
  padding: 3px 8px;
  border-radius: 3px;
}

.spin
{
  margin-right: 10Px;
}