<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" (click)="dismiss()" class="buttons-menu">
      <ion-icon class="icon-menu" name="close-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Options</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="action-section">
    <ion-input [(ngModel)]="username" (ionChange)="onChangeUsername()"></ion-input>
  </div>
  <div class="action-section big">
    <p>Couleur du pseudo vu par les utilisateurs</p>
    <div class="scroll-section">
      <div class="mid-item"></div>
      <div class="color-item" *ngFor="let co of colors" [style.backgroundColor]="co" (click)="setColor(co)"></div>
      <div class="mid-item"></div>
    </div>
  </div>
  <!-- <div class="action-section">
    <p>Sauvegarder les conversations</p>
    <ion-toggle [(ngModel)]="options.saveMessage"></ion-toggle>
  </div> -->
  <!-- <div class="action-section">
    <p>Sauvegarder les images</p>
    <ion-toggle [(ngModel)]="options.saveImage"></ion-toggle>
  </div> -->
  <div class="action-section">
    <p>Montrer mon @ utilisateur</p>
    <ion-toggle [(ngModel)]="options.showSelfTag"></ion-toggle>
  </div>
  <div class="action-section">
    <p>Montrer @ des autres utilisateurs</p>
    <ion-toggle [(ngModel)]="options.showUsersTag"></ion-toggle>
  </div>
  <div class="action-section">
    <p>Message de confirmation de sauvegarde</p>
    <ion-toggle [(ngModel)]="options.showToast"></ion-toggle>
  </div>
  <div class="action-section">
    <p>Message quand une Room se ferme</p>
    <ion-toggle [(ngModel)]="options.showCloseToast"></ion-toggle>
  </div>
  <div class="action-section">
    <p>Message à la venue d'un nouvel utilisateur dans la Room</p>
    <ion-toggle [(ngModel)]="options.showNewUser"></ion-toggle>
  </div>
  <!-- <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">

      <ion-fab-button color="light" (click)="createRoom()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>

      <ion-fab-button color="light" (click)="selectRoom()">
        <ion-icon name="search"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->
</ion-content>