<div *ngIf="data.type == 0">
  <button class="btn ion-activatable" (click)="openImage()">
    Ouvrir la gallerie d'images
    <ion-ripple-effect></ion-ripple-effect>
  </button>

  <button class="btn-check" (click)="close()" [disabled]="!isFinish">
    <ion-icon name="checkmark-outline"></ion-icon>
  </button>
  <button class="btn-close" (click)="close(true)">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>
<div *ngIf="data.type == 1">
  <button class="btn-check" (click)="close()">
    <ion-icon name="checkmark-outline"></ion-icon>
  </button>
  <button class="btn-close" (click)="close(true)">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>
<div *ngIf="data.type == 2">
  <button class="btn-check" (click)="close()">
    <ion-icon name="checkmark-outline"></ion-icon>
  </button>
  <button class="btn-close" (click)="close(true)">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>
<div *ngIf="data.type == 3">
  <button class="btn-check" (click)="close()">
    <ion-icon name="checkmark-outline"></ion-icon>
  </button>
  <button class="btn-close" (click)="close(true)">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>
<div *ngIf="data.type == 4">
  <button class="btn-check" (click)="close()">
    <ion-icon name="checkmark-outline"></ion-icon>
  </button>
  <button class="btn-close" (click)="close(true)">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>
<div *ngIf="data.type == 5">
  <button class="btn-check" (click)="close()">
    <ion-icon name="checkmark-outline"></ion-icon>
  </button>
  <button class="btn-close" (click)="close(true)">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>
<div *ngIf="data.type == 6">
  <button class="btn-check" (click)="close()">
    <ion-icon name="checkmark-outline"></ion-icon>
  </button>
  <button class="btn-close" (click)="close(true)">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>
<div *ngIf="data.type == 7">
  <button class="btn-check" (click)="close()">
    <ion-icon name="checkmark-outline"></ion-icon>
  </button>
  <button class="btn-close" (click)="close(true)">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>
<div *ngIf="data.type == 8">
  <button class="btn-check" (click)="close()">
    <ion-icon name="checkmark-outline"></ion-icon>
  </button>
  <button class="btn-close" (click)="close(true)">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>
<div *ngIf="data.type == 9">
  <button class="btn-check" (click)="close()">
    <ion-icon name="checkmark-outline"></ion-icon>
  </button>
  <button class="btn-close" (click)="close(true)">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>
<div *ngIf="data.type == 10">
  <button class="btn-check" (click)="close()">
    <ion-icon name="checkmark-outline"></ion-icon>
  </button>
  <button class="btn-close" (click)="close(true)">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>
<div *ngIf="data.type == 11">
  <button class="btn-check" (click)="close()">
    <ion-icon name="checkmark-outline"></ion-icon>
  </button>
  <button class="btn-close" (click)="close(true)">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>