<div *ngIf="data.type == 0">
  <button class="btn ion-activatable" (click)="openImage()">
    Ouvrir la gallerie d'images
    <ion-ripple-effect></ion-ripple-effect>
  </button>

  <button class="btn-check" (click)="close()" [disabled]="!isFinish">
    <ion-icon name="checkmark-outline"></ion-icon>
  </button>
  <button class="btn-close" (click)="close(true)">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>

<div *ngIf="data.type == 1">
  <div class="power">
      <div class="case-p" [style.backgroundColor]="colorBattery.a"></div>
      <div class="case-p" [style.backgroundColor]="colorBattery.b"></div>
      <div class="case-p" [style.backgroundColor]="colorBattery.c"></div>
      <div class="case-p" [style.backgroundColor]="colorBattery.d"></div>
  </div>
  <button class="btn-check" (click)="close()" [disabled]="!isFinish">
    <ion-icon name="checkmark-outline"></ion-icon>
  </button>
  <button class="btn-close" (click)="close(true)">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>

<div *ngIf="data.type == 2">
  <p>Envoyer une idée ou une citation</p>
  <ion-textarea rows="8" cols="40" maxlength="500" (ionChange)="onTextChange()" [(ngModel)]="textContent"></ion-textarea>
  <button class="btn-check" (click)="close()" [disabled]="!isFinish">
    <ion-icon name="checkmark-outline"></ion-icon>
  </button>
  <button class="btn-close" (click)="close(true)">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>

<div *ngIf="data.type == 3">
  <p>Envoyer du code</p>
  <ion-textarea rows="8" cols="40" maxlength="1500" (ionChange)="onTextChange()" [(ngModel)]="textContent"></ion-textarea>
  <button class="btn-check" (click)="close()" [disabled]="!isFinish">
    <ion-icon name="checkmark-outline"></ion-icon>
  </button>
  <button class="btn-close" (click)="close(true)">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>

<div *ngIf="data.type == 4">
  <p>Envoyer un numéro de téléphone</p>
  <ion-input placeholder="060000000" type="phone" maxlength="10" (ionChange)="onTextChange()" [(ngModel)]="textContent"></ion-input>
  <button class="btn-check" (click)="close()" [disabled]="!isFinish">
    <ion-icon name="checkmark-outline"></ion-icon>
  </button>
  <button class="btn-close" (click)="close(true)">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>

<div *ngIf="data.type == 5">
  <p>Choisisser un jeux</p>
  <div class="game-list">
    <div class="game-item" *ngFor="let game of list;let i = index" [style.backgroundImage]="'url('+game+')'" (click)="selectGame(i)"></div>
  </div>
  <p>Entrer votre pseudo de jeux</p>
  <ion-input placeholder="player#0001" maxlength="30" (ionChange)="onTextChange()" [(ngModel)]="textContent"></ion-input>
  <button class="btn-check" (click)="close()" [disabled]="!isFinish">
    <ion-icon name="checkmark-outline"></ion-icon>
  </button>
  <button class="btn-close" (click)="close(true)">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>

<div *ngIf="data.type == 6">
  <p>Envoyer un spoiler</p>
  <ion-textarea rows="8" cols="40" maxlength="500" (ionChange)="onTextChange()" [(ngModel)]="textContent"></ion-textarea>
  <button class="btn-check" (click)="close()" [disabled]="!isFinish">
    <ion-icon name="checkmark-outline"></ion-icon>
  </button>
  <button class="btn-close" (click)="close(true)">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>

<div *ngIf="data.type == 7">
  <p>Envoyer un sondage</p>
  <ion-textarea rows="8" cols="40" maxlength="150" (ionChange)="onTextChange()" [(ngModel)]="textContent"></ion-textarea>
  <button class="btn-check" (click)="close()" [disabled]="!isFinish">
    <ion-icon name="checkmark-outline"></ion-icon>
  </button>
  <button class="btn-close" (click)="close(true)">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>
<div *ngIf="data.type == 8">
  <p>Partager votre position</p>
  <br>
  <ion-icon name="location-outline" class="icon-loc" *ngIf="isFinish"></ion-icon>
  <ion-icon name="close-outline" class="icon-loc" *ngIf="!isFinish"></ion-icon>
  <button class="btn-check" (click)="close()" [disabled]="!isFinish">
    <ion-icon name="checkmark-outline"></ion-icon>
  </button>
  <button class="btn-close" (click)="close(true)">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>
<div *ngIf="data.type == 9">
  <button class="btn-check" (click)="close()" [disabled]="!isFinish">
    <ion-icon name="checkmark-outline"></ion-icon>
  </button>
  <button class="btn-close" (click)="close(true)">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>
<div *ngIf="data.type == 10">
  <button class="btn-check" (click)="close()" [disabled]="!isFinish">
    <ion-icon name="checkmark-outline"></ion-icon>
  </button>
  <button class="btn-close" (click)="close(true)">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>
<div *ngIf="data.type == 11">
  <button class="btn-check" (click)="close()" [disabled]="!isFinish">
    <ion-icon name="checkmark-outline"></ion-icon>
  </button>
  <button class="btn-close" (click)="close(true)">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>