<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" (click)="onMenuClick()" class="buttons-menu" *ngIf="!HaveUpdate  && loading == false">
      <ion-icon class="icon-menu" name="settings-outline"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" class="buttons-menu" (click)="onRoomClick()" *ngIf="!HaveUpdate  && loading == false">
      <ion-icon class="icon-menu" name="chevron-up-circle-outline"></ion-icon>
    </ion-buttons>
    <ion-title *ngIf="!HaveUpdate && !loading ">Home - {{ activeRoom }}</ion-title>
    <ion-title *ngIf="HaveUpdate || loading">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="!HaveUpdate">
  <div class="loader" *ngIf="loading">
    <ion-spinner></ion-spinner>
  </div>
  <div id="container" *ngIf="!loading">
    <div id="chatSection" #scrollBar>
      <br />
      <div class="message-block" *ngFor="let message of messages">
        <div class="message-l" *ngIf="!message.isMe">
          <div class="name" [style.color]="message.color" *ngIf="ShowUserTag"
            (click)="tagUser(message.username,message.userId)">
            @{{message.username}}
          </div>
          <div *ngIf="!message.isImage" class="content" [innerHTML]="message.MessageContent | messageRender"></div>
          <div class="image-content" *ngIf="message.isImage">
            <img [src]="sanitizer.bypassSecurityTrustUrl(message.MessageContent)" alt=" Une erreur est survenue au chargement de l'image">
          </div>
        </div>

        <div class="message-r" *ngIf="message.isMe">
          <div class="name" [style.color]="ActiveUser.color" *ngIf="ShowSelfTag">
            @{{message.username}}
          </div>
          <div *ngIf="!message.isImage" class="content" [innerHTML]="message.MessageContent | messageRender"></div>
          <div class="image-content" *ngIf="message.isImage">
            <img [src]="sanitizer.bypassSecurityTrustUrl(message.MessageContent)" alt=" Une erreur est survenue au chargement de l'image">
          </div>
        </div>
      </div>
      <br /><br /><br /><br /><br /><br />
    </div>
    <div id="bottomSection" *ngIf="!GiftViewActive">
      <ion-input #messageElement (ionBlur)="onMessageBoxToggle($event)" maxlength="1000" class="message-box" [(ngModel)]="MessageValue"
        placeholder="Envoyer un message" inputmode="text" autocorrect="off" (keypress)="onKeyPress($event)"></ion-input>
      <button class="btn-round" (click)="toggleGiftView()">
        <ion-icon name="gift-outline" class="gift-icon"></ion-icon>
      </button>
      <button class="btn-round-right" (click)="sendMessage(true)">
        <ion-icon name="send-outline" class="gift-icon"></ion-icon>
      </button>
    </div>
    <div id="giftSection" [@openClose]="GiftViewActive ? 'open' : 'closed'"
      [style.display]="GiftViewActive ? 'block' : 'none'">
      <button class="btn-round-close" (click)="toggleGiftView()">
        <ion-icon name="close-outline" class="gift-icon"></ion-icon>
      </button>
      <div class="scrollSection">
        <div class="card ion-activatable" (click)="openGiftDialog('IMAGE')">
          <ion-icon name="image-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        <div class="card ion-activatable" (click)="openGiftDialog('BATTERY')">
          <ion-icon name="battery-half-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        <div class="card ion-activatable" (click)="openGiftDialog('IDEA')">
          <ion-icon name="bulb-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        <div class="card ion-activatable" (click)="openGiftDialog('CODE')">
          <ion-icon name="code-slash-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        <div class="card ion-activatable" (click)="openGiftDialog('PHONE')">
          <ion-icon name="call-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        <div class="card ion-activatable" (click)="openGiftDialog('GAME')">
          <ion-icon name="game-controller-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>
      <div class="scrollSection">
        <div class="card ion-activatable" (click)="openGiftDialog('HIDDEN')">
          <ion-icon name="eye-off-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        <div class="card ion-activatable" (click)="openGiftDialog('QUESTION')">
          <ion-icon name="help-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        <div class="card ion-activatable" (click)="openGiftDialog('LOCATION')">
          <ion-icon name="location-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        <div class="card ion-activatable" (click)="openGiftDialog('INFO')">
          <ion-icon name="megaphone-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        <div class="card ion-activatable" (click)="openGiftDialog('LOVE')">
          <ion-icon name="heart-half-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        <div class="card ion-activatable" (click)="openGiftDialog('QR_CODE')">
          <ion-icon name="qr-code-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-content [fullscreen]="true" *ngIf="HaveUpdate">
  <p class="update">
    L'application n'est plus à jour merci de vérifier que vous avait bien
    installer la nouvelle version (v{{UpdateVersion}}) .
  </p>
</ion-content>